<html>
<head> Hello 123</head>
<body>
<h1>
     This is my first html template !!
</h1>
<form action="register/Reply" method="POST">
          Name: <input type="text"  name="Name1" plceholder="Name" /><br><br>
    Occupation: <input type="text"  name="Ocupation1" plceholder="Occupation" /><br><br>
<input type="Submit" value="Submit">

</form>
</body>
</html>