<html>
<head> Hello 123</head>
<body>
<h1>
     This is my first html template !!
</h1>

Name ={{Name2}} <br><br>
Occupancy={{Occupa}}

<h3>Language </h3>
<ol>
{{#language}}
<li>
{{.}}
</li>
{{/language}}
</ol>
</body>
</html>